#bamfiles, bed files, individual bamlists and paleomix big files
*.bam
*.bed
*.FullPaleoPipeline*
00.input/bam[[:upper:]]*
01.paleomix/[[:upper:]]*
!01.paleomix/[[:upper:]]EADME.md

#index and bin files
*idx
*bin

##temp files & folders
**/temp*
**/**/temp*

#slurm output files
*.out

#depth output files
02.depth/angsd
02.depth/bedtools/01.output

##big files
*mafs.gz
*geno.gz
*beagle.gz
*saf.gz

##wrong number individual analyses
*220*

##archived analyses
old*

## output files and directories
*.ml
*fst.gz
**/01.output/
**/**/01.output/